html {
    background: url(../img/bg-website.jpg) no-repeat center center fixed;
}

.mood-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    margin-top: -350px; /* Half the height */
    margin-left: -300px; /* Half the width */
}

.mood-text {
    font-family: "Open Sans ExtraBold", serif;
    font-size: 100px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 250px; /* Half the height */
    margin-left: -150px; /* Half the width */
    text-align: center;
}