html {
    background: url(../img/bg-website.jpg) no-repeat center center fixed;
}

.mood-icon {
    width: 675px;
    height: 675px;
    position: relative;
    margin-left: -337.50px;
    margin-top: -397.50px;
}

.mood-text {
    font-family: "Open Sans ExtraBold", serif;
    color: white;
    margin-left: -225px;
    margin-top: -40px;
    font-size: 150px;
}
.mood_div {
    position: fixed;
    top: 50%;
    left: 50%;
}