.moog-bg-red {
    background: url(../img/bg-website-red.jpg)
}

.mood-bg-green {
    background: url(../img/bg-website-green.jpg)
}

.mood-bg-yellow {
    background: url(../img/bg-website-yellow.jpg)
}

.map-bg {
    background: #372a72;
}

.mood_div {
    position: fixed;
    top: 50%;
    left: 50%;
}

.map_div {
    position: fixed;
    top: 50%;
    left: 50%;
}

.mood-icon {
    width: 675px;
    height: 675px;
    position: relative;
    margin-left: -337.50px;
    margin-top: -397.50px;
}

.mood-icon-crowd {
    width: 1308px;
    height: 480px;
    position: relative;
    margin-left: -654px;
    margin-top: -240px;
}

.mood-text-crowdy {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: -200px;
    margin-top: 00px;
    font-size: 150px;
}

.mood-text-moderate {
    font-family: 'Open Sans', sans-serif;
    color: white;
    margin-left: -300px;
    margin-top: 00px;
    font-size: 150px;
}

.mood-text-calm {
    font-family: "Open Sans", serif;
    color: white;
    margin-left: -225px;
    margin-top: -30px;
    font-size: 150px;
}

.map{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1329px;
    height: 930px;;
    margin-left: -664.5px; /* Half the height */
    margin-top: -465px; /* Half the width */
}


mark {
    background-color: #372a72;
    color: white;
}